<div class = "<%= class_ %>" >
    <%  if not user.avatar.present?%>
        <%= image_tag(user.img_auth, class: "is-square") %>
    <% else %>
        <%= image_tag(user.avatar.url, class: "is-square") %>
    <% end %>
</div>