<div class="has-centered-text">
    <div>
        <p class="heading">Posts</p>
        <p class="title is-6"><%=person.posts.count%></p>
    </div>
</div>
<div class="has-centered-text">
    <div>
        <p class="heading"> Friends </p>
        <p class="title is-6"><%=person.friends.count%></p>
    </div>
</div>
<div class="has-centered-text">
    <div>
        <p class="heading"> Likes </p>
        <p class="title is-6"><%=person.likes_user.count%></p>
    </div>
</div> 