<% user.notifications.sort_by{ |h| h[:created_at] }.reverse!.each do |notice|%>
     <% if not notice.seen%>
        <div class="dropdown-item">
        <%= render 'shared/view-notification', notice:notice, notice_element: notification_find(notice, notice.notice_type )  %>
        </div>
        <hr class="dropdown-divider">
    <% end %>
<% end %>
