   
        
<div class="media">
    <div class="media-left">
        <%= render 'boards/img-profile', class_: "image is-32x32" %>
    </div>         
    <div class="media-content">
        <div class="content">
            <p>
                <strong><%= person.name %></strong><br />
                <small>@<%= person.username %></small><br />
                <small><%= person.email %></small>
            </p>
        </div>
    </div>
</div>
       
