<h1>Boards#index</h1>
<p>Find me in app/views/boards/index.html.erb</p>
<%  if current_user.provider.present?%>
    <%= image_tag(current_user.img_auth)%>
<% else %>
    <%= image_tag(current_user.avatar.url)%>
<% end %>
<%= link_to "edit", edit_user_registration_path%>