 <section class="container">
            <div class="colums is-flex is-justify-content-space-between">
                <div class="column" style="width: 25rem">
                     <nav class="panel" >
                        <p class="title">Personal Data</p>
                        <div class="panel-block is-flex is-justify-content-center ">
                          <%= render '/shared/info-user', person:current_user, opt_link: true %>
                       
                        </div>
                        <div class="panel-block is-flex is-justify-content-space-between">
                            <%= render '/shared/indicators' %>
                        </div>
                        <div class="panel-block is-flex is-justify-content-space-between">
                            Friends
                        </div>
                    </nav>
                </div>
                 <div class="column" style="width: 50rem">
                    <nav class="panel" >
                        <p class="title">Whats on your mind?</p>
                        <div class="panel-block is-flex is-justify-content-center ">
                            <div class="container">
                                <%= render 'posts/new-post' %>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="column" style="width: 15rem">
                Friends
                </div>
               
            </div>
        </section>



