<h1>Boards#index</h1>
<p>Find me in app/views/boards/index.html.erb</p>
<%= image_tag("https://graph.facebook.com/v5.0/547572417018729/picture?access_token=EAAFTxaMr90cBADa0Ecz1uOOZATfRemYRkqZCTd1F2fVYbm6XvAMRQDt9knwLhQdg2q22s9jtVkYXAInGktRDcXtMmvIIcNrixwd1NDR6DZCXJPRSAbrdftgKuZBNoJPA76M2fdxyPcnmmMJ3MMEHdvO779iRiQtZAheZB7ShEtQw9Q9sh3ef0P8DGl0FZAI1SUve4ZAML2qLkgdsZAp6BEt5XaweHc867r74y3JbdQZAkJPQZDZD")%>