 <section class="container">
            <div class="colums is-flex is-justify-content-space-between">
                <div class="column" style="width: 25rem">
                     <nav class="panel" >
                        <p class="title">Personal Data</p>
                        <div class="panel-block is-flex is-justify-content-center ">
                          <%= render '/boards/info_user', person:current_user %>
                       
                        </div>
                        <div class="panel-block is-flex is-justify-content-space-between">
                            <%= render '/layouts/indicators' %>
                        </div>
                        <div class="panel-block is-flex is-justify-content-space-between">
                            Friends
                        </div>
                    </nav>
                </div>
                <div class="column">
                Post
                </div>
                <div class="column" style="width: 15rem">
                Friends
                </div>
               
            </div>
        </section>
