<div class="columns is-gapless is-desktop">
    <div class="column">
        <p class="title">Profile</p>
    </div>
    <div class="column media">
         <%= render 'boards/img-profile-info', class_: " " %>
    </div>
</div>



<div class="colums is-mobile">
    <div class="colum">
        <%= render '/boards/info_user', person:current_user %>
    </div>
</div>
